body {
  font-family: sans-serif;
  background: #1e1e1e;
  color: white;
  margin: 0;
  padding: 0;

  .container {
    display: flex;
    height: 100vh;

    .sidebar {
      display: flex;
      flex-direction: column;
      width: 500px;
      background: #2b2b2b;
      border-right: 1px solid #444;
      box-sizing: border-box;
      overflow-y: auto;

      .sidebar-header {
        position: sticky;
        top: 0;
        background: #2b2b2b;
        padding: 20px;
        border-bottom: 1px solid #444;
        z-index: 10;

        .sidebar-title {
          width: 100%;
          text-align: center;
          font-size: 20px;
          margin-bottom: 20px;
        }

        .header-buttons {
          margin-top: 10px;
          display: flex;
          gap: 10px;

          button {
            padding: 8px 16px;
            font-size: 14px;
            cursor: pointer;
            background: #444;
            color: white;
            border: none;
            border-radius: 4px;

            &:hover {
              background: #555;
            }
          }
        }
      }

      .input-fields-container {
        padding: 20px;
        text-align: left;
        display: inline-block;

        fieldset {
          display: flex;
          flex-direction: column;
          width: 100%;
          border: 1px solid #444;
          padding: 10px;
          margin-bottom: 20px;

          box-sizing: border-box;

          .field {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center;

            legend {
              font-size: 16px;
              font-weight: bold;
              color: #ccc;
            }

            label {
              display: inline-block;
              width: 150px;
              font-size: 14px;
            }

            input,
            select {
              width: 140px;
              padding: 5px;
              font-size: 14px;
              margin: 5px 0;

              &[type=checkbox] {
                width: 146px;
              }

              &[type="range"] {
                cursor: pointer;
                height: 16px;
                padding: 0 5px;
                border-radius: 1px;
                border: 1px solid rgb(118, 118, 118);
                background: white;
                outline: none;
                appearance: none;

                &::-webkit-slider-thumb {
                  cursor: pointer;
                  appearance: none;
                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                  background: #005CC8;
                }

                &::-moz-range-thumb {
                  cursor: pointer;
                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                  background: #005CC8;
                }
              }
            }

            select {
              width: 154px;
            }

            .color-picker {
              width: 155px;
              height: 30px;
              margin: 5px 0;
              border-radius: 1px;
            }
          }

          .cap-points-subcontainer,
          .area-points-subcontainer,
          .borders-subcontainer,
          .rings-subcontainer {
            max-height: 400px;
            overflow-y: auto;
            border: 1px solid #444;
            padding: 10px;
            background: #1e1e1e;

            .cap-point,
            .area-point,
            .border,
            .ring {
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 10px 20px;
              background-color: #1e1e1e;

              .drag-handle {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                top: 5px;
                height: 111px;
                margin: 0;
                left: 5px;
                width: 25px;
                cursor: grab;
                font-size: 16px;
                color: #ccc;
                user-select: none;
                background-color: #2b2b2b;
                border-radius: 4px;
              }

              .delete-button {
                position: absolute;
                padding: 4px 10px;
                margin: 0;
                top: 5px;
                right: 5px;
              }

              .delete-cap-point-button {
                height: 351px;
              }

              .delete-area-point-button {
                height: 111px;
              }

              .delete-border-button {
                height: 231px;
              }

              .delete-ring-button {
                height: 191px;
              }

              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                padding-bottom: 0;
              }

              &:not(:first-child) {
                padding: 10px 20px;
                border-top: 1px solid white;

                .delete-button,
                .drag-handle {
                  margin-top: 10px;
                }

              }

              &:not(:last-child) {
                border-bottom: 1px solid white;
              }

              &.dragged {
                border: 0px;
              }
            }
          }

          .asterisk-text {
            margin-top: 10px;
            font-size: small;
          }

          .add-button {
            width: 150px;
          }
        }

        button {
          margin-top: 10px;
        }
      }

      button {
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        background: #444;
        color: white;
        border: none;
        border-radius: 4px;

        &:hover {
          background: #555;
        }
      }
    }
  }
}

.map-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;

  .map-canvas {
    background: white;
    border: 1px solid black;
  }
}