body .container .tabs-container .tabs .tab[attr-tab="bullseye-map-tab"] {
  .tab-content {
    height: 100%;

    .map-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1e1e1e;
      width: 100%;

      .map-canvas {
        background: white;
        border: 1px solid black;
      }
    }
  }
}